<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-container1">
      <h1 class="component1-text"><span>Our Approach</span></h1>
    </div>
    <div class="component1-container2">
      <div class="component1-container3">
        <div class="component1-step">
          <h1 class="component1-text02"><span>1</span></h1>
          <h1 class="component1-text04"><span>Concept</span></h1>
          <span class="component1-text05">
            <span>
              Learn the basics by creating interactive Level 1 DIY projects.
            </span>
            <br />
          </span>
        </div>
        <div class="component1-step1">
          <h1 class="component1-text08"><span>2</span></h1>
          <h1 class="component1-text10"><span>Prototype</span></h1>
          <span class="component1-text12">
            <span>
              Progress to intermediate electronics with level 2 projects.
            </span>
            <br />
          </span>
        </div>
      </div>
      <div class="component1-container4">
        <div class="component1-step2">
          <h1 class="component1-text15"><span>3</span></h1>
          <h1 class="component1-text17">
            <span>P</span>
            <span>roduction</span>
          </h1>
          <span class="component1-text20">
            <span>
              Fully immerse yourself in complex electronics by building level 3
              projects.
            </span>
            <br />
          </span>
        </div>
        <div class="component1-step3">
          <h1 class="component1-text23"><span>4</span></h1>
          <h1 class="component1-text25"><span>Have Fun!</span></h1>
          <span class="component1-text26">
            <span>
              Remember to utilize our resources to enrich your learning, and
              most of all... Have fun!
            </span>
            <br />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
